@page
@model CourseProjectRazor.Controllers.AboutModel
@namespace CourseProjectRazor.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "О Нас";
}
<!DOCTYPE html>
<html>
<title>AUTO SELL ABOUT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif;
    }

    body, html {
        height: 100%;
        color: #777;
        line-height: 1.8;
    }

    /* Create a Parallax Effect */
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* First image (Logo. Full height) */
    .bgimg-1 {
        background-image: url('/w3images/parallax1.jpg');
        min-height: 100%;
    }

    /* Second image (Portfolio) */
    .bgimg-2 {
        background-image: url("/w3images/parallax2.jpg");
        min-height: 400px;
    }

    /* Third image (Contact) */
    .bgimg-3 {
        background-image: url("/w3images/parallax3.jpg");
        min-height: 400px;
    }

    .w3-wide {
        letter-spacing: 10px;
    }

    .w3-hover-opacity {
        cursor: pointer;
    }
</style>
<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="@Url.Page("/Index")" class="w3-bar-item w3-button">Главная</a>
            <a href="@Url.Page("/About")" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> О нас</a>
            <a href="" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> Контакты</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
            </a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
            <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        </div>
    </div>
    <div class="w3-content w3-container w3-padding-64" id="about">
        <h3 class="w3-center">О нас</h3>
        <p>@Model.aboutP.aboutText</p>
        <div class="w3-row">
        </div>
        <p class="w3-large w3-center w3-padding-16">Почему стоит выбрать нас?</p>
        <p class="w3-wide">Качество</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">100%</div>
        </div>
        <p class="w3-wide">Скорость</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
        </div>
        <p class="w3-wide">Гарантии </p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">100%</div>
        </div>
    </div>

</body>
</html>
